<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">

    <title>ASCII Generator</title>
  </head>
  <body>
    <header>
      <span>ascii</span>
      <span class="logo">#</span>
      <span>generator</span>
    </header>

    <main>
      <div class="art">
        <div class="ascii">
          {% for line in art %}
            <div>
              {% for char in line %}
                <span class="{% if char == '#' or error %} fg {% else %} bg {% endif %}">{% if char == " " %}&nbsp;{% else %}{{char}}{% endif %}</span>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <h2>Your masterpiece</h2>
      </div>
      <form action="/ascii" method="post">
        <input type="text" name="text" id="text" placeholder="Type something:" />
        <button type="submit">
          <i class="fa-solid fa-pen-fancy"></i>
        </button>
      </form>
    </main>
  </body>
</html>
